<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pmchm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

     <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.pmchm.view.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.pmchm.view.activity.SetGestureActivity" >
        </activity>
        <activity android:name="com.example.pmchm.view.activity.FindPwdActivity" >
        </activity>
        <activity android:name="com.example.pmchm.view.activity.DescrptionActivity" >
        </activity>
        <activity android:name="com.example.pmchm.view.activity.UpdatePwdActivity" >
        </activity>
        <activity android:name="com.example.pmchm.view.activity.SetNumActivity" >
        </activity>
        <activity android:name="com.example.pmchm.view.activity.DevicesManagerActivity" >
        </activity>
        <activity android:name="com.example.pmchm.view.activity.MyActivity" >
        </activity>
        <activity android:name="com.example.pmchm.view.activity.SetingActivity" >
        </activity>
        <activity android:name="com.example.pmchm.view.activity.LoginActivity" >
        </activity>
        <activity
            android:name="com.example.pmchm.view.activity.SecretManagerActivity"
            android:label="@string/title_activity_secret_manager" >
        </activity>
    </application>

</manifest>